.bg-info-subtle {
    background-color: #d1ecf1;
}

.tag {
    color: rgb(255, 21, 165);
}

.nav-link:hover,
.nav-link.active {
    font-weight: bold;
}

.error {
    color: red;
}

.success {
    color: rgb(185, 5, 5);
}

.card-title {
    background-color: rgba(255, 21, 21, 0.8);
    color: white;
    padding: 10px;
}